@use "./base.scss";

// put your custom CSS here!
p:has(a[data-slug="guide/creating-playgrounds"]) {
	display: grid;
	place-content: end;
}

@font-face {
	font-family: "SN Pro Regular";
	src: url("/static/SNPro-Regular.woff2");
}

@font-face {
	font-family: "Monaspace Krypton Var Regular";
	src: url("/static/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2");
}
