@use "./base.scss";

@font-face {
	font-family: "SN Pro Regular";
	src: url("/static/SNPro-Regular.woff2");
}

@font-face {
	font-family: "Monaspace Krypton Var Regular";
	src: url("/static/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2");
}

div.search-space input::placeholder,
div.search-icon > p {
	color: var(--gray) !important;
}

.page-title a {
	hyphens: none;
}

.center article {
	line-height: 3rem !important;
}

a.internal {
	text-decoration: none;
	background-color: transparent;
	padding: 0 0.1rem;
	border-radius: 5px;
	line-height: 1.4rem;
}

li::marker {
	color: var(--gray);
}