@use "./base.scss";

@font-face {
	font-family: "SN Pro Regular";
	src: url("static/SNPro-Regular.woff2");
}

@font-face {
	font-family: "Monaspace Argon Var Regular";
	src: url("static/MonaspaceArgonVarVF[wght,wdth,slnt].woff2");
}

div#search-space input::placeholder,
div#search-icon > p {
	color: var(--gray) !important;
}

.page-title a {
	hyphens: none;
}

.center article tbody,
.center article li,
.center article p {
	line-height: 1.8rem !important;
}

a.internal {
	text-decoration: none;
	background-color: transparent;
	padding: 0 0.1rem;
	border-radius: 5px;
	line-height: 1.4rem;
}

li::marker {
	color: var(--gray);
}

.search > #search-container > #search-space > input:focus {
	outline: 2px solid var(--secondary) !important;
}
.search > #search-container > #search-space > input     {
	color: var(--gray);
}
.search {
	& svg {
		.search-path {
			stroke: var(--gray) !important;
		}
	}
}

pre {
  code {
    & > [data-line] {
			padding-inline-start: 1em !important;
      &::before {
				display: none !important;
      }
    }
	}
}


@keyframes progress {
	to {
		transform: scaleX(1);
	}
	
}

/**
 * CHROME only
 */
 .scroll-progress {
	background-color: var(--tertiary);
	height: 8px;
	left: 0;
	position: fixed;
	top: 0;
	transform: scaleX(0);
	width: 100%;
	transform-origin: 0 50%;
  animation: progress auto linear;
  animation-timeline: scroll(root);
}

/**
 * src: https://codepen.io/ines/pen/KMGJrP
 */
/*
 @supports (height: 100vh) {
  .scroll-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right top, var(--secondary), var(--tertiary) 50%, transparent 50%) no-repeat;
    z-index: -1;
    // background-size: 100% calc(100% - 100vh + 10px);
    background-size: 100% calc(100% - 100vh);
  }
  .scroll-indicator:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 10px;
		z-index: 999;
  }
}
body {
  position: relative !important;
  margin: 0 !important;
}
*/